<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background background-hero">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4">Ihre Video-Konferenz aus der Schweiz.<br>
        Für Unternehmen und Schulen. </h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">Einfach digital. Mit LearnEasy24 können Sie mehr als 20 TeilnehmerInnen gleichzeitig sehen. Wir schulen Sie vorab kompakt und effizient. Danach werden Sie alle Möglichkeiten beherrschen, die Ihnen LearnEasy24 bietet. Auch ohne digitale Vorkenntnisse. Garantiert!</p>
        <div class="w3-button-container">
        
          <a href="/b/signup" class="w3-button w3-button--orange"> Konferenz erstellen</a>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>


<div class="background background-hero background-hero2">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> Nachhaltiges Lernen ohne Zeitverlust </h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 my-lead">Die aktuellen Umstände sind für SchülerInnen, Lehrkräfte und Eltern nicht einfach. Durch den Einsatz eines umfassenden, jedoch einfach zu beherrschenden Tools, kann der direkte und und mittelbare Unterricht umgehend aufgenommen werden. Zudem ermöglicht unsere Plattform eine Interaktion zwischen LehrerInnen und SchülerInnen. Somit wird das Home Office für alle zu einem verlängerten Klassenzimmer, in welchem sogar Live-Prüfungen durchgeführt werden können. Denn die Beurteilung von SchülerInnen am Ende des Semesters wird sehr komplex.</p>
        <div class="w3-button-container">
        
          <a href="/b/signup" class="w3-button w3-button--orange"> Klassenzimmer erstellen</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mt-8 mb-6 text-center feature-container">
    
  <h2>So funktionierts</h2>
    
  <div class="row feature-stamp w3-features">
      <div class="col-lg-3 col-md-6 w3-feature">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-user-plus"></i></span>
        <h4 class="mt-4">1. Registrieren</h4>
        <p>Registrieren Sie sich, um das System und seine Funktionen kennenzulernen.</p>

      </div>

      <div class="col-lg-3 col-md-6 w3-feature">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-edit"></i></span>
        <h4 class="mt-4">2. Schulung Learning by doing</h4>
        <p>Wir schulen Sie im Video-Chat und bringen Ihnen alle Tools bei, die Ihnen für eine effiziente, digitale und zugleich persönliche Präsentation zur Verfügung stehen. </p>

      </div>

      <div class="col-lg-3 col-md-6 w3-feature">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-user-friends"></i></span>
        <h4 class="mt-4">3. Konferenz erstellen </h4>
        <p>Erstellen Sie Ihre individuelle digitale Konferenz. </p>

      </div>

      <div class="col-lg-3 col-md-6 w3-feature">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-user-friends"></i></span>
        <h4 class="mt-4">4. TeilnehmerInnen einladen </h4>
        <p>Laden Sie Ihre TeilnehmerInnen zum Unterricht oder zur Sitzung ein - und los geht’s! </p>

      </div>
  </div>
</div>
<div class="offer">
<div class="container mt-8 mb-6 text-center offer-my-container">
    
<a name="preise" class="only-anchor"><h2>Preise</h2></a>
  <p> Für die ersten 20 Schulen/Unternehmen ist die Benutzung bis zum 15.06.2020 kostenlos. <br/>
  Alle darauffolgenden Nutzer erhalten bis zum 15.06.2020 50% Rabatt.<br/>
  Mindestlaufzeit 6 Monate.
  </p>

  <p class="orange-link-wrapper"><a class="orange-link" href="/b/signup"> Jetzt 2 Wochen gratis testen.</a></p>
    
  <div class="offer-wrapper">
    <div class="single-offer">
      <div class="offer-container">
        <div class="offer-header">
          Für Unternehmen
        </div>
        <div class="offer-body-top">
          <span class="offer-price">CHF 13.50</span>
          <p>User / Monat</p>
        </div>
        <div class="offer-body-mid">
          <span class="offer-price">max. CHF 500 / Monat</span>
          <p>(bis 100 User - <br/> mehr auf Anfrage)</p>
        </div>
        <div class="offer-body-bottom">
            <a href="/b/signup">Jetzt starten</a>
        </div>
      </div>

      <div class="more-licences">
        <p>Sie brauchen mehrere Lizenzen? <br/> Jetzt <span class="highlight-offer" id="requestCompany" >individuelles Angebot</span> anfragen.</p>
      </div>
    </div>
    <div class="single-offer">
      <div class="offer-container">
        <div class="offer-header">
          Für Schulen
        </div>
        <div class="offer-body-top">
        <span class="offer-price">CHF 13.50</span>
        <p>Lehrer / Monat</p>
        <p>(50 Schüler inklusive)</p>
        </div>
        <div class="offer-body-mid">
          <span class="offer-price">max. CHF 500 / Monat</span>
          <p>(bis 100 Lehrer - <br/> mehr auf Anfrage)</p>
        </div>
        <div class="offer-body-bottom">
            <a href="/b/signup" >Jetzt starten</a>
        </div>
      </div>

      <div class="more-licences">
          <p>Sie brauchen mehrere Lizenzen? <br/> Jetzt <span class="highlight-offer" id="requestSchool" >individuelles Angebot</span> anfragen.</p>
      </div>
    </div>
  </div>

  <div id="offer-form" class="offer-form-container">

    <div style="position: relative">
      <div id="offer-toggle">&times;</div>
      <h5 style="color: #142954">Individuelles Angebot anfragen</h5>
      <p style="color: #142954">Fragen Sie Ihr individuelles Angebot an. Wir melden uns innerhalb 24 Stunden mit einer persönlichen Offerte.
     
     
      <%= form_with(url: "/b/sendOfferRequest", method: "post", class: "offer-form")  do %>
        <%= hidden_field_tag :type %>
        <div class="form-row-half">
        <div class="select-wrapper">
        <%= select_tag "salutation", raw("<option selected disabled hidden value=''>Anrede</option><option value='Herr'>Herr</option><option value='Frau'>Frau</option>"), :required => true %>
        </div>
        <%= text_field_tag :name, nil, :placeholder => "Vollständiger Name", :required => true %>
        </div>

        <div class="form-row-half">
        <%= email_field_tag :email, nil, :placeholder => "E-Mail-Adresse", :required => true %>
        <%= text_field_tag :organisation, nil, :placeholder => "Organisation", :required => true %>
        </div>


        
        <div class="form-row-full">
          <%= number_field_tag :amount, nil, :placeholder => "Anzahl Lizenzen", :required => true %>
        </div>

        <div class="form-row-full">
        <%= text_area(:post, :body, :placeholder => "Persönliche Nachricht", cols: 20, rows: 5) %>

        </div>

        <%= submit_tag("Nachricht absenden") %>
        <% end %>


    </div>

  </div>

  <h2 style="color: #142954">Sie möchten selbst hosten?</h2>
  <p class="offer-more"> Sie suchen eine Lösung auf Ihrem individuellen Server?<br/>
      Gerne unterbreiten wir Ihnen ein individuelles Angebot.
  </p>
  <div>
  <a href="mailto:info@learneasy24.com" class="offer-bluebutton">Jetzt anfragen</a>
  </div>
</div>
</div>

<script>
var form = document.getElementById("offer-form");
document.getElementById('requestCompany').onclick=function(){
  openForm("company");
}
document.getElementById('requestSchool').onclick=function(){
  openForm("school");

}

document.getElementById('offer-toggle').onclick=function(){
  closeForm();

}

function openForm(type){
  document.getElementById('type').value = type;
    form.style.display = "block";
}

function closeForm(){
  form.style.display = "none";

}


</script>
