<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1> Neue svividoo-Anfrage:</h1>
     

      <p>Typ: <%= @type %></p>
      <p>Anrede: <%= @salutation %></p>
      <p>Name:  <%= @name %></p>
      <p>E-Mail-Adresse: <%= @email %></p>
      <p>Anzahl: <%= @amount %></p>
      <p>Nachricht: <%= @post["body"] %></p>
      
      
   </body>
</html>