<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.


  #<div class="grey-container">
  #    <div class="container mt-8 mb-6 text-center feature-container">
  #        
  #    <div class="slider-container">
  #      <div class="slide">
  #        image_tag("landing/testimonial_01.jpg", :class => "testimonial-img", :alt => "Marcel Brandhof")
  #        <p class="testimonial-text mt-6">Ich bin restlos begeistert von svividoo. So unkompliziert und einfach, es fühlt sich fast wie im Klassenzimmer an.</p>
  #        <p class="testimonial-name">Marcel Brandhof</p>
  #      </div>
  #     
  #    </div>
  #
  #    </div>
  #</div>

# <a href="#preise" class="cta-price"> Preise</a>
%>

<div class="background background-hero background-school">
  <div class="container pt-8 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4 extra-bold">svividoo. Klassenbester.</h1>
        <p class="lead offset-lg-1 col-lg-10 col-sm-12 medium mt-6 mb-8">
            svividoo stellt Schulen, Lehrerinnen und Lehrern und ihren Schülerinnen und Schülern das perfekte digitale Schulzimmer zur Verfügung. Hier vermitteln die Lehrerinnen und Lehrer den Stoff mit den modernsten Online-Unterrichtsformen. 
            <br/> <br/>
Hier fällt den Schülerinnen und Schülern das Lernen leicht. Denn svividoo macht dank Videokommunikation das gemeinsame Lernen und den individuellen Direktkontakt einfach. Und vor allem: svividoo lässt sich auch optimal und zielorientiert in den Präsenzunterricht integrieren.
        </p>
        <div class="w3-button-container">
        
          <a href="/b/signup" class="w3-button w3-button--orange"> Klassenzimmer erstellen</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mt-9 mb-8 feature-container">
    
    <h2>svividoo ist flexibel. Und eröffnet Perspektiven.</h2>
    <p>svividoo macht das Organisieren und das Durchführen von Online-Unterricht für jede Lehrerin und für jeden Lehrer einfach. Und kann den Präsenzunterricht ideal ergänzen. Top-Funktionen. Intuitive Bedienung. So geht Zukunft.</p>
    

    <div class="row feature-stamp w3-features">
      <div class="col-lg-6 col-md-12 w3-feature horizontal-wrapper">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-edit"></i></span>
        <div class="horizontal-text">
            <h4>Gruppenarbeiten & Einzelansprache</h4>
            <p>Sie können genauso mit der ganzen Klasse als auch mit einzelnen Schülerinnen und Schülern kommunizieren. Oder Sie lassen Ihre Schülerinnen und Schüler in verschiedenen kleinen Gruppen zusammenarbeiten. </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 w3-feature horizontal-wrapper">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-video"></i></span>
        <div class="horizontal-text">
            <h4>Webcam-Unterstützung</h4>
            <p>Die Schülerinnen und Schüler schalten die Webcam individuell frei. So ermöglichen sie die persönlichen Interaktionen und erhöhen die Partizipation.</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 w3-feature horizontal-wrapper">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-share-alt"></i></span>
        <div class="horizontal-text">
            <h4>Bildschirm teilen</h4>
            <p>Mit nur einem Klick teilen Sie Dokumente und Webseiten mit Ihren Schülerinnen und Schülern. Diese Dokumente können Sie besprechen und sichtbar bearbeiten.</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 w3-feature horizontal-wrapper">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-camera"></i></span>
        <div class="horizontal-text">
            <h4>Aufzeichnen & bereitstellen</h4>
            <p>Zeichnen Sie Ihre Lektionen mit Zustimmung der Schülerinnen und Schüler auf und stellen Sie diese digital zur Verfügung. Genauso wie Dokumente für den Download.</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 w3-feature horizontal-wrapper">
        <span class="stamp bg-primary"><i class="fas fa-2x fa-user-friends"></i></span>
        <div class="horizontal-text">
            <h4>Elterngespräche führen</h4>
            <p>Treffen Sie Eltern für einmal mittels Videochat zum Elterngespräch. Die Terminsuche wird vereinfacht, und die Gesprächsumgebung kann individuell gewählt werden.</p>
        </div>
      </div>
  </div>


    <p class="orange-link-wrapper text-center"><a class="orange-link" href="/b/signup"> Jetzt Registrieren</a></p>
  
</div>

<div class="grey-container">
    <div class="container mt-8 mb-6 text-center feature-container">
        
    <h2>In nur 3 Schritten. So einfach funktioniert’s. </h2>
        
    <div class="row feature-stamp w3-features">
        <div class="col-lg-4 col-md-6 w3-feature">
            <span class="stamp bg-primary"><i class="fas fa-2x fa-user-plus"></i></span>
            <h4 class="mt-5 mb-5">1. Registrieren</h4>
            <p>Registrieren Sie sich, um svividoo mit allen Möglichkeiten und der intuitiven Funktionsweise kennenzulernen. Bei Bedarf schulen wir Sie in einem kurzen Videochat. </p>

        </div>

        <div class="col-lg-4 col-md-6 w3-feature">
            <span class="stamp bg-primary"><i class="fas fa-2x fa-edit"></i></span>
            <h4 class="mt-5 mb-5">2. Teilnehmende einladen</h4>
            <p>Laden Sie alle Teilnehmenden zum Unterricht, zur Sitzung, zur Konferenz  oder zum Workshop ein. </p>

        </div>

        <div class="col-lg-4 col-md-6 w3-feature">
            <span class="stamp bg-primary"><i class="fas fa-2x fa-child"></i></span>
            <h4 class="mt-5 mb-5">3. Los geht’s!</h4>
            <p>Ihr digitales Schulzimmer oder ihr digitaler Sitzungsraum steht für Sie bereit. Sie können sofort mit der Lektion oder dem Meeting starten.</p>

        </div>
    </div>
<p class="orange-link-wrapper text-center"><a class="orange-link" href="/b/signup"> Klassenzimmer erstellen</a></p>

    </div>
</div>


<div class="container mt-8 mb-9 text-center feature-container">
    <iframe class="yt-iframe" src="https://www.youtube.com/embed/pqGXE_S6NwU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="orange-link-wrapper"><a class="orange-link" id="scrollB" > Support anfragen</a></p>

</div>

<div class="container mt-8 mb-6 feature-container">

  <h2 class="mb-8">Die Extra-Leistungen. Für den noch spannenderen Unterricht.</h2>

  <h3 class="mb-6">Ermöglichen Sie das Gemeinschaftserlebnis.</h3>
  <div class="row mt-7 mb-9">
    <div class="col-lg-6 col-md-12">
      <p class="text-int">
        Sie möchten im Video alle Schülerinnen und Schüler sehen und ein reales Gemeinschaftserlebnis herstellen? Das ist selbstverständlich möglich! 
        <br/>
        <br/>
        Auch alle Schülerinnen und Schüler sollen sich gegenseitig sehen und so in der Klasse eingebunden sein und ihre sozialen Beziehungen zu den andern pflegen? Auch das ist selbstverständlich möglich!
      </p>
    </div>
    <div class="col-lg-6 col-md-12">
      <%= image_tag("landing/feature_cams.jpg", :alt => "Feature Cam") %>
    </div>
  </div>

  <h3 class="mb-6">Erstellen Sie verschiedene Räume für verschiedene Situationen. </h3>
  <div class="row mt-7 mb-9">
    <div class="col-lg-6 col-md-12">
      <p class="text-int">
        Sie brauchen für verschiedene Klassen verschiedene virtuelle Schulzimmer? Das ist selbstverständlich möglich!
        <br/>
        <br/>
        Sie unterrichten verschiedene Fächer in verschiedenen Umgebungen? Möglich! 
        <br/>
        <br/>
        Eröffnen Sie einfach beliebig viele Räume, nach Klassen, nach Fächern, nach Themen. Ganz, wie es Ihnen entspricht.
      </p>
    </div>
    <div class="col-lg-6 col-md-12">
      <%= image_tag("landing/feature_dash_school.png", :alt => "Feature Dashboard") %>
    </div>
  </div>

   <h3 class="mb-6">Suchen Sie gemeinsam die Lösung oder starten Sie eine Umfrage.</h3>
   <div class="row mt-7 mb-9">
    <div class="col-lg-6 col-md-12">
      <p class="text-int">
        Sie möchten Aufgaben gemeinsam in der Klasse lösen, jedoch die Resultate individuell suchen lassen? Das ist selbstverständlich möglich! 
        <br/>
        <br/>
        Sie möchten Ihre Schülerinnen und Schüler nach ihrer Meinung fragen und dabei die Anonymität wahren? Natürlich ist auch das möglich! 
        <br/>
        <br/>
        Starten Sie eine Umfrage und Sie erhalten sofort die Auswertung.
      </p>
    </div>
      <div class="col-lg-6 col-md-12">
        <%= image_tag("landing/feature_poll.jpg", :alt => "Feature Polling") %>
      </div>
    </div>

    <h3 class="mb-6">Lassen Sie mit Breakout-Räumen in Kleingruppen arbeiten.</h3>
    <div class="row mt-7 mb-9">
      <div class="col-lg-6 col-md-12">
        <p class="text-int">
          Sie möchten, dass ihre Schülerinnen und Schüler in verschiedenen Gruppen weiterarbeiten? Das ist selbstverständlich möglich! 
          <br/>
          <br/>
          Und Sie als Lehrerin und als Lehrer möchten immer den Überblick behalten? Natürlich ist auch das möglich! 
          <br/>
          <br/>
          Weisen Sie Ihren Schülerinnen und Schüler einfach virtuelle Breakout-Räume zu, wo sie in Kleingruppen miteinander arbeiten können und weiterhin alle Funktionalitäten zur Verfügung haben.
        </p>
      </div>
      <div class="col-lg-6 col-md-12">
        <%= image_tag("landing/feature_breakout.jpg", :alt => "Feature Breakout") %>
      </div>
    </div>
</div>

<div class="background background-hero background-school2" id="price-section">
  <div class="container pb-6 mb-6 hero-header-offer-offset">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4">
          Preise
        </h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 my-lead lead-top lead-narrow">
          Für die ersten 20 Schulen ist die Benutzung bis zum 15.06.2020 kostenlos.
          Alle darauffolgenden Nutzer erhalten bis zum 15.06.2020 50% Rabatt.
          Mindestlaufzeit 6 Monate.
        </p>
       
        <div class="w3-button-container">
        
          <a href="/b/signup" class="w3-button w3-button--orange"> Jetzt 2 Wochen testen</a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container mb-6 feature-container offer-big-offset">
  <div class="offer-wrapper-big">
    <div class="single-offer-big">
      <div class="offer-container">
        <div class="offer-header">
          <p class="prize">CHF 13.50</p>
          <p>Lehrer / Monat <br/> Inklusive 50 Schüler</p>
        </div>
        <div class="offer-footer">
          <p class="prize">Monatlich max. CHF 500</p>
          <p>bis 100 Lehrer - mehr auf Anfrage</p>
          <p class="orange-link-wrapper mt-7 mb-5"><a class="orange-link" href="/b/signup"> Jetzt starten</a></p>
        </div>
      </div>

      <div id="offer-form" class="offer-form-container ofc-school">

    <div style="position: relative">
      <div id="offer-toggle">&times;</div>
      <h5 style="color: #262262">Individuelles Angebot anfragen</h5>
      <p style="color: #262262">Fragen Sie Ihr individuelles Angebot an. Wir melden uns innerhalb 24 Stunden mit einer persönlichen Offerte.
     
     
      <%= form_with(url: "/b/sendOfferRequest", method: "post", class: "offer-form")  do %>
        <%= hidden_field_tag :type %>
        <div class="form-row-half">
        <div class="select-wrapper">
        <%= select_tag "salutation", raw("<option selected disabled hidden value=''>Anrede</option><option value='Herr'>Herr</option><option value='Frau'>Frau</option>"), :required => true %>
        </div>
        <%= text_field_tag :name, nil, :placeholder => "Vollständiger Name", :required => true %>
        </div>

        <div class="form-row-half">
        <%= email_field_tag :email, nil, :placeholder => "E-Mail-Adresse", :required => true %>
        <%= text_field_tag :organisation, nil, :placeholder => "Organisation", :required => true %>
        </div>


        
        <div class="form-row-full">
          <%= number_field_tag :amount, nil, :placeholder => "Anzahl Lizenzen", :required => true %>
        </div>

        <div class="form-row-full">
        <%= text_area(:post, :body, :placeholder => "Persönliche Nachricht", cols: 20, rows: 5) %>

        </div>

        <%= submit_tag("Nachricht absenden") %>
        <% end %>


    </div>

  </div>

      <div class="more-licences mt-6">
        <p>Sie brauchen mehrere Lizenzen? <br/> Jetzt <span class="highlight-offer" id="requestSchool" >individuelles Angebot</span> anfragen.</p>
      </div>


      <div class="hosting mt-8">
        <h2 style="color: #262262">Sie möchten selbst hosten?</h2>
        <p class="offer-more"> Sie suchen eine Lösung auf Ihrem individuellen Server?<br/>
            Gerne unterbreiten wir Ihnen ein individuelles Angebot.
        </p>
        <div class=" mt-7 mb-7">
          <a href="mailto:info@learneasy24.com" class="offer-bluebutton">Support anfragen</a>
        </div>
      </div>
      
    </div>
  </div>
</div>


 <div class="footer-top ">
   <div class="footer-top-content container">
     <div class="footer-top-left">
       <p class="ftl-big">
         Einfach. Online. Lernen.
       </p>
       <p class="ftl-small">
         Die Nachhilfeplattform für das digitale Zeitalter.
       </p>
     </div>
     <div class="footer-top-right">
     <a class="ft-link" href="https://www.learneasy24.com/de" target="_blank">
       <p class="fpr-text">
       Jetzt Nachhilfe nehmen
       </p>
       </a>
     </div>
   </div>
 </div>

 <script>

$("#scrollB").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#price-section").offset().top
    }, 2000);
});

 
var form = document.getElementById("offer-form");

document.getElementById('requestSchool').onclick=function(){
  openForm("school");

}

document.getElementById('offer-toggle').onclick=function(){
  closeForm();

}

function openForm(type){
  document.getElementById('type').value = type;
    form.style.display = "block";
}

function closeForm(){
  form.style.display = "none";

}


</script>